body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    background: #fff;
    margin: 20px;
    border-radius: 8px;
}

fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px; /* Ajusta el ancho del contenedor según sea necesario */

}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 30%; /* Hace que los inputs ocupen todo el ancho del contenedor */
    padding: 10px;
    margin: 10px 0; /* Espaciado entre los inputs */
    border: 1px solid #ccc;
    border-radius: 4px;
}


input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555; /* Cambia el color al pasar el mouse */
}

textarea {
    padding: 30px;
}

label {
    font-weight: bold; /* Establece el texto de los labels en negrita */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
img {
    width: 100%; /* Ajusta el tamaño de la imagen a 70 píxeles */
    height: auto;
    border-radius: 10px;
}
h2 {
    margin-top: 40px;
}